body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaed8e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.contenedor{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
h1{
  width: 400px;
  height: 10%;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: calc(50% - 200px);
}
p{
  width: 350px;
  height: 10%;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: calc(50% - 175px);
}
#contF{
  width: 500px;
  height: 500px;
  margin: 0px;
  padding: 0px;
  position: relative;
  background: #80d6ed;
  left: calc(50% - 250px);
}
#inicioG{
  width: 250px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  cursor: pointer;
  border: 2px solid red;
  background:#fc6b03;
  z-index: 10;
  display: inline-block;
  left: calc(50% - 125px);
  top: 10px;
}
#login{
  width: 400px;
  height: 130px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  border: 2px solid red;
  background: #e07675;
  left: calc(50% - 200px);
  top: 100px;
}
#login input{
  background: #ebc3a7;
  padding: 5px;
  margin: 5px;
}
#login button{
  background: #ebc3a7;
  padding: 5px 25px;
}
#cambiarRec{
  width: 250px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#formRec{
  background: blue;
  width: 400px;
  height: 130px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
#formRec input{
width: 300px;
margin-top: 20px;
}
#formRec input #recInput{
  width: 100px;
}

#registro{
  width: 400px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  border: 2px solid red;
  background: #e07675;
  left: calc(50% - 200px);
  top: 300px;
}
#registro input{
  background: #ebc3a7;
  padding: 5px;
  margin: 5px;
}
#registro button{
  background: #ebc3a7;
  padding: 5px 25px;
}
#registro #registroInput{
  padding: 5px 25px;
}
#botonLogout{
  width: 200px;
  height: 80px;
  background: snow;
  font-size: 20px;
}